@import "../../common/color.scss";

.movie-list,
.show-list {
  margin: 20px 0px;
  h2 {
    color: $font-secondary;
    margin-bottom: 10px;
    font-weight: 400;
  }
}
.fa-3x{
  color: antiquewhite;
display: flex;
justify-content: center;
}
.sr-only{
  height: 10px;
  width: 10px;
}
// .movie-container {
//   display: grid;
//   grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
//   grid-gap: 15px;
// }
